{% extends "templates/account/layout.html" %}
{% block content %}
<div class="ui grid segment">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div class="ui segment">
      <h1 class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          {{ user.first_name }} {{ user.last_name }}
          <div class="sub header">Manage your account settings and attach payment information.</div>
        <a class="ui button" href="/account/logout">Logout</a>
        </div>
      </h1>
      <div class="ui divider"></div>
      <div class="ui segment basic">
        <h2 class="ui header">Pin Information</h2>
        <div class="ui form">
          <div class="inline fields">
            <div class="field">
              <a class="ui button teal" href="/account/resetpin">Reset Pin</a>
            </div>
            <div class="field">
              <label>Pin</label>
              <input placeholder="{{ keguser.pin }}" readonly="readonly" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui segment basic">
        <h2 class="ui header">Payment Information</h2>
        {% if not keguser.stripe_id %}
          <a class="ui button" href="/account/add_payment">Add Payment Information</a>
        {% else %}
          <h4 class="ui header">You already have payment information</h4>
          <form id="removePaymentForm"  action="/account/remove_payment" method="POST">
            {% csrf_token %}
            <div class="ui button" id="removePaymentInfoBtn">Remove Payment Info</div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="three wide column"></div>
</div>
{% endblock %}
