<!DOCTYPE html>
<html>
  <head>
    <script src="/static/javascripts/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/javascripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/semantic.min.css">
  </head>
  <body>
    <div class="ui segment basic">
      <img src="/static/images/title.png" class="ui center aligned"/>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
