{% extends "layout.html" %}
<div class="ui grid segment">
  <div class="five wide column"></div>
  <div class="six wide column">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="ui form segment">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="me@example.com">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <input type="submit" class="ui submit button”>
      </div>
    </div>
  </div>
</div>
