{% extends "templates/account/layout.html" %}
{% block content %}
<div class="ui grid segment">
  <div class="five wide column"></div>
  <div class="six wide column">
    {{ error }}
    <form id="loginForm" action="" method="POST">
      {% csrf_token %}
      <div class="ui form segment">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="me@example.com">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <div class="ui button" id="loginButton">
          Login
        </div>
    </form>
  </div>
</div>
{% endblock %}
