<!DOCTYPE html>
<html>
    <script src="/static/javascripts/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/semantic.min.css">
<body>
    <div class="ui fluid two item menu">
        <a class="item">Haven't Registered Before? Click Here!</a>
        <a class="item">Login</a>
    </div>

    <div class="ui grid segment">
			<div class="four wide column"></div>
			<div class="eight wide column">
                            <form action="" method="POST">
{% csrf_token %}
			    <div class="ui form segment">
					<div class="two fields">
				 		<div class="field">
<label>First name</label>
{{ userform.first_name }}
					 	</div>
					 	<div class="field">
<label>Last name</label>
{{ userform.last_name }}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
<label>Email</label>
{{ userform.email }}
						</div>
						<div class="field">
<label>Phone</label>
{{ keguserform.phone_number }}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
<label>Password</label>
{{ userform.password}}
						</div>
						<div class="field">
<label>Confirm Password</label>
							<input name="confirm_password" placeholder="Confirm Password" type="text">
						</div>
					</div>
                                        <input type="submit" class="ui submit button”>

				</div>
			</div>
			<div class="four wide column"></div>
		</div>
</div>
</body>
</html>
