<!DOCTYPE html>
<html>
    <script src="javascripts/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
<body>
    <div class="ui fluid two item menu">
        <a class="item">Haven't Registered Before? Click Here!</a>
        <a class="item">Login</a>
    </div>

    <div class="ui grid segment">
			<div class="four wide column"></div>
			<div class="eight wide column">
			    <div class="ui form segment">
					<div class="two fields">
				 		<div class="field">
					 		<input placeholder="First Name" name="name" type="text">
					 	</div>
					 	<div class="field">
					 		<input placeholder="Last Name" name="name" type="text">
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<input name="email" placeholder="name@email.com" type="text">
						</div>
						<div class="field">
							<input name="phone" placeholder="1234567890" type="text">
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<input name="password" placeholder="Password" type="text">
						</div>
						<div class="field">
							<input name="confirm_password" placeholder="Confirm Password" type="text">
						</div>
					</div>

				</div>
			</div>
			<div class="four wide column"></div>
		</div>
</div>
</body>
</html>